input:focus {
    outline: none;
    border-color: #2563EB !important; /* Change focus border color */
    color: black !important;
  }
  .chakra-form-control input {
    border-color: black !important;
  }